<!-- google-maps-demo.component.html -->
<section class="container">

  <div class="sidebar">
    @for (store of stores(); track store.id) {
      <div
        #store
        class="store"
        (click) = "changeLocation(store)"
      >
      <h3> {{store.displayName}} </h3>
      <p> {{ store.lat}} </p>
      <p> {{ store.lng}} </p>
      
      </div>
    }
  </div>


<google-map
  class="map"
  [options]="mapOptions"
  [center]="center"
  [zoom]="zoom">

      @for (store of stores(); track store.id) {
      <map-advanced-marker 
      [position]="{
        lat: store.lat,
        lng: store.lng
      }"  
      [options] = "markerOptions"
      (mapClick)="changeLocation(store)"
      />
    }
  </google-map>

</section>